@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100px 1fr;
  height: 100vh;
}

.main {
  border-radius: 20px;
  background-color: #fff;
  margin: 25px;
  box-shadow: 4px 2px 20px 0 #00000026;
  overflow: auto;
}

.mainTitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  position: sticky;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 25px 10px 25px;
}

.mainBody {
  padding: 0 25px 30px 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  column-gap: 50px;
  row-gap: 30px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  margin: 10px 10px;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1A1;
}
