.myFamilyMain {
    grid-column-end: 3;
}

.ourFamily {
    border-radius: 20px;
    background-color: #fff;
    margin: 25px 25px 25px 0;
    box-shadow: 4px 2px 20px 0 #00000026;
    overflow: auto;
}

.ourFamilyTitle {
    font-size: 20px;
    line-height: 24px;
    position: sticky;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px 25px 10px 25px;
}

.ourFamilyBody {
    padding: 10px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    row-gap: 26px;
}

.userCard {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.userInfo {
    margin-left: 10px;
    margin-right: auto;
    position: relative;
}

.userTag {
    background: #1E8BC3;
    color: #fff !important;
    position: absolute;
    top: -5px;
    transform: translateX(135%);
    height: 16px !important;
}

.userName {
    font-size: 20px;
    line-height: 24px;
}

.userStatus {
    font-size: 14px;
    line-height: 14px;
}

.userHeadStatus {
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.6);
}
