.myFamilyMain {
    display: flex;
    flex-direction: column;
    grid-column-end: 3;
    overflow: hidden;
}

.postsWrapper {
    padding: 0 45px 100px;
    position: relative;
    height: 100%;
    overflow: auto
}

.post {
    display: flex;
    align-items: flex-start;
}

.postAvatar {
    margin-top: 5px;
}

.postAuthor {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    color: #000;
    margin-right: 10px;
}

.postDate {
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.75);
}

.postBody {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    min-height: 58px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 15px 15px;
    margin-left: 10px;
}

.postReply.post {
    flex-basis: 100%;
    flex-grow: 1;
    margin: 0 -15px;
    border-top: 1px solid #000;
    padding: 5px 15px 0;
}

.postReply.post > .postBody {
    border: none;
    padding-bottom: 0;
    margin-left: 0;
}

.replyBtn {
    display: flex;
    margin: 0 -15px -15px;
    padding: 0 15px;
    border-top: 1px solid #000;
    flex-grow: 1;
    cursor: pointer;
}

.replyBtn img {
    height: 100%;
}

.postText {
    flex-basis: 100%;
}

.addPostBtn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    bottom: 25px;
    left: 65px;
    cursor: pointer;
}

.mapTabPanel {
    height: 100%;
    background: url('../assets/map.svg') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.ourFamily {
    border-radius: 20px;
    background-color: #fff;
    margin: 25px 25px 25px 0;
    box-shadow: 4px 2px 20px 0 #00000026;
    overflow: auto;
}

.ourFamilyTitle {
    font-size: 20px;
    line-height: 24px;
    position: sticky;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px 25px 10px 25px;
}

.ourFamilyBody {
    padding: 10px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    row-gap: 26px;
}

.userCard {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.userInfo {
    margin-left: 10px;
    margin-right: auto;
    position: relative;
}

.userTag {
    background: #1E8BC3;
    color: #fff !important;
    position: absolute;
    top: -5px;
    transform: translateX(135%);
    height: 16px !important;
}

.userName {
    font-size: 20px;
    line-height: 24px;
}

.userStatus {
    font-size: 14px;
    line-height: 14px;
}

.userHeadStatus {
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.6);
}
