.leftMenu {
    width: 100px;
    height: 100%;
    border-right: 1px solid #F5F5F5;
    box-shadow: 1px 4px 7px 0 #000000D9;
    text-align: center;
    position: relative;
}

.menuItem {
    display: block;
    height: 60px;
    margin: 30px 0;
    text-decoration: none;
    color: #000;
}

.menuItem:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menuItemActive {
    color: #1E8BC3;
    border-left: 2px solid #1E8BC3;
}

.bottomMenuItem {
    align-self: end;
}
